{
  "parser": "babel-eslint",
  "plugins": [
    "eslint-plugin-import"
  ],
  "extends": [
    "bengler"
  ],
  "rules": {
    "id-length": [2, {"exceptions": ["t"]}],
    "import/no-unresolved": 2,
    "import/named": 1,
    "import/default": 0,
    "import/namespace": 2,
    "import/no-require": 2,
    "import/no-named-as-default": 2,
    "import/export": 2
  },
  "settings": {
    "import/parser": "babel-eslint"
  }
}
